
.mainContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageContainer {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin-top: 25%;
}

.container img {
    height: 450px;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 0 100px #1c2958;
}

.container h2 {
    color: white;
    font-family: 'Raleway', sans-serif;
}

.container h3 {
    color: white;
    font-family: 'Raleway', sans-serif;
}

.logoContainer {
    margin-top: 2%;
    position: absolute;
}

.colorLogo {
    width: 50%;   
}

@media (max-width: 768px) {

}