.container {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content img {
    width: 40%;
    padding:20px;
    border-radius: 50px;
}

.content p {
    margin-top: 3%;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-size: 20px;
}