.container {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 1;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    animation: content-load 800ms;
}

.content img {
    width: 40%;
    padding:20px;
    border-radius: 50px;
}

.content p {
    margin-top: 3%;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-size: 20px;
}


.logoContainer {
    margin-top: 2%;
    position: absolute;
}

.colorLogo {
    width: 50%;   
}

@keyframes content-load {
    5% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
        margin-top: 40%;
    }

    .content img {
        width: 100%;
        padding: 10px;
    }
}