.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    height: 100vh;
}

.content {
    display: inline-flex;
}

.events {
    display: flex;
    flex-direction: column;
}

.events img {
    width: 30%;
    border-radius: 10px;
}