.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    height: 100vh;
    
}

.content {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    
    margin-top: 20%;
}

.logoContainer {
    position: absolute;
    margin-top: 2%;
}

.colorLogo {
    width: 50%;
    
}

.eventImage {
    border-radius: 10px;
}