.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("/theiocideeditposter.jpg");
  background-size: cover;
  height: 100vh;
}

.homeContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.homeEvents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeEvents p {
  color: white;
}

@media (max-width: 768px) {
  .container {
    background-image: url("/theocid5white.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

}