.container {
    background-color: black;
    width: 100%;
    overflow: hidden;
    
}

.navRoutes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin: 0%;
    padding: 0%;
}
  
.navRoutes li {
    padding: 10px;
    color:white;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-left: 5%;
    margin-right: 5%;
}

.navRoutes li:hover {
    color: red;
    background-color: white;
    cursor: pointer;
}



@media (max-width: 768px) {
    .navRoutes {
        flex-direction: column;
    }
    
    .navRoutes li {
        margin-top: 50%;
    }
    
}