.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.main {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  width: 100%;
  background: url('../public/theiocideeditposter.jpg');
  background-size: cover;
  border-bottom: 1px solid red;
}

.bandMotto {
  font-size: 50px;
  margin-top: 10%;
  font-family: 'Raleway', sans-serif;
}

.lineBreak {
  width: 50%;
  border: 1px solid black;
}

.socialMedia {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-evenly;
  margin: 10px;
  width: 100%;
  height: 10%;
  background-color: black;
}

/* .mainArticle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.downArrow {
}

.bandImage {
  width: 600px;
  height: 50%;
}

.bandMembers {
  text-align: center;
  color: white;
  font-size: 2em;
  font-family: 'Raleway', sans-serif;
  
}

.bandBio {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100vh;
  width: 90%;
  color: white;
}

.groupPicture {
  height: 50%;
  width: 50%;
}

.theocideContent {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
}

.profileSection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: black;
  width: 100%;
  height: 500px;
  padding: 30px;
}

.footer {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}



.logo {
  height: 5em;
}
