.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bandLogo {
  width: 50%;
  height: 50%;
}

.homeHeader {
  font-family: 'Rock Salt', cursive;
  color: white;
}

.homeEvents {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}