.container {
    width: 100%;
    color: white;
}

.navLinks {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navLinks li {
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
}

.navLinks li :hover {
    color: red;
    background-color: black;
}

.navLinks img {
    width: 10%;
}