.container {
    width: 100%;
    color: white;
    margin: 0;
    padding: 0;
}

.navLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin: 0%;
    padding: 0%;

}

.navLinks li {
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 3%;
    margin-right: 5%;
}

.navLinks li :hover {
    color: red;
    background-color: black;
    cursor: pointer;
}

.navLinks img {
    width: 300px;
}