.socialLinks {
    display: flex;
    flex-direction:row-reverse;
    justify-content: center;
    margin: 2%;
}

.socialLinks a {
    display:flex;
    justify-content: center;
}

.socialIcons {
    width: 20%;
}