.socialLinks {
    display: flex;
    flex-direction:row-reverse;
    margin: 2%;
    justify-content: center;
    background-color: black;
    padding: 5px;
    border-radius: 20px;
}

.socialLinks a {
    display:flex;
    justify-content: center;
}

.socialIcons {
    width: 20%;
}