.socialLinks {
    display: flex;
    flex-direction:row-reverse;
    justify-content: center;
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 15px;
    position: relative;
}

.socialLinks a {
    display:flex;
    justify-content: center;
    
}

.socialIcons {
    width: 20%;
}