.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 70%;
    padding: 10px;
}